/*csslint order-alphabetical:false,outline-none:false, universal-selector:false, box-model:false, qualified-headings: false, unique-headings:false, box-sizing:false, fallback-colors:false compatible-vendor-prefixes:false*/

/*
========================================================
    BROWSER RESET - gebaseerd op html5 doctor css reset
     http://html5doctor.com/html-5-reset-stylesheet
========================================================
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}
nav ul{list-style:none}
ul{margin-left:1.1em;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
*,*:before,*:after{box-sizing: border-box;}
/*     EINDE BROWSER RESET */

aside {
    display: flex;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 100%;
}

@media (min-width: 27em) {
    aside {
    width: 50%;
}
}

@media (min-width: 50em) {
    aside {
    width: 30%;
}
}

/* Form */

form {
    margin: 0 auto;
}

form select {
    width: 8em;
    height: 3em;
    color: white;
    color: #fff;
    font-size: 1rem;
    background-color: deeppink;
    background-color: #ff3268;
    box-shadow: inset 0 -.1875em .0625em hotpink;
    box-shadow: inset 0 -.1875em .0625em #ca2b55;
    cursor: pointer;
    border-radius: 1.25em;
    padding: 0.8em;
    transition: all 0.5s ease-in-out;
}

form select:hover {
    transform: scale(1.1);
    background-color: hotpink;
    background-color: #ca2b55;
    box-shadow: inset 0 -.1875em .0625em darkred;
    box-shadow: inset 0 -.1875em .0625em #7f1737;
}

/* Button filter */

/* http://weggeefcode.nl/ button filter */

aside > section {
    margin: 0 auto;
}

.btn {
    transition: .2s;
    cursor: pointer;
    width: 8em;
    height: 3em;
    margin: 0 auto;
    background-color: deeppink;
    background-color: #ff3268;
    box-shadow: inset 0 -.1875em .0625em hotpink;
    box-shadow: inset 0 -.1875em .0625em #ca2b55;
    color: white;
    color: #fff;
    padding: .4375em 1.5em .5625em;
    font-weight: bold;
    line-height: 2;
    display: block;
    border-radius: 1.25em;
    min-height: 1.5rem;
    min-width: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
    background-color: deeppink;
    background-color: #ca2b55;
    box-shadow: inset 0 -.1875em .0625em darkred;
    box-shadow: inset 0 -.1875em .0625em #7f1737;
}

#content {
    background-color: deeppink;
    background-color: #ff3268;
    box-shadow: inset 0 -.1875em .0625em hotpink;
    box-shadow: inset 0 -.1875em .0625em #ca2b55;
    color: white;
    color: #fff;
    padding: .4375em 1.5em .5625em;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-radius: 1.25em;
    min-height: 1.5rem;
    min-width: 1.5rem;
    width: 13em;
}

#content input {
    margin-right: 1em;
}

#content label {
    transition: all 0.5s ease-in-out;  
}

#content label:hover {
    transform: scale(1.1);
}

/* De .hidden class verbergt de #content met display:none; */

.hidden {
    display: none!important;
}

