/* body aanmelden */

html, body {
    height: 100%;
}

.achtergrond {
    background: #f3e5d8;
    background: url(../images/vakantie.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 5em;
}

div {
    width: 90%;
}

@media (min-width: 27em) {
div {
    width: 60%;
}
}

@media (min-width: 42em) {
div {
    width: 40%;
}
}

@media (min-width: 65em) {
div {
    width: 30%;
}
}

@media (min-width: 80em) {
div {
    width: 20%;
}
}

.section {
   margin: 0 auto;
   text-align: center;
   color: white;
   color: #fff;
}

/* Formulier */

form {
   width: 100%;
   margin: 0 auto 20px;
   border-radius: 2em;
   padding-top: 1.5em;
   background: white;
   background: #fff;
}

fieldset {
   margin: 0;
   padding: 0;
   border: 0;
}

/* code van https://jsfiddle.net/o44ggpvh/ */

input {
   font-family: 'NexaLight', 'Arial';
   display: block;
   width: 100%;
   height: 3em;
   padding: 16px 8px;
   border: 0;
   border-radius: 0;
   font-size: 1em;
   font-weight: 400;
   line-height: 1;
   background: white;
   background: rgba(255, 255, 255, 1);
   color: black;
   color: #212121;
   outline: 0;
   transition: all 0.2s ease-in-out;
}

.section-label fieldset {
   position: relative;
}

.section-label fieldset:last-child input {
   border-radius: 0 0 2em 2em;
   box-shadow: 0 2px 0 grey;
   box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

.section-label fieldset + fieldset {
   border-top: 1px solid lightgrey;
   border-top: 1px solid #ddd;
}

.section-label label {
   position: absolute;
   top: 15px;
   left: 8px;
   color: grey;
   color: #909090;
   transition: all 0.2s ease-in-out;
}

.section-label fieldset:first-child label {
    top: 80px;
}

.section-label legend {
    font-family: 'NexaBold', 'Arial';
    margin-bottom: 1em;
    font-size: 2em;
    color: lawngreen;
    color: #00d66c;
}

.section-label input:valid, .section-label input:focus {
   padding: 22px 8px 10px;
}

.section-label input:focus {
   outline: 0;
   background: white;
   background: #fff;
}

.section-label input:valid + label, .section-label input:focus + label {
   color: lawngreen;
   color: #00d66c;    
   font-family: 'NexaBold', 'Arial';
   font-weight: 700;
   font-size: 12px;
   transform: translate3d(0, -10px, 0);
}

.section-label input:invalid + label, .section-label input:focus + label {
   color: red;
   color: #dd2626;    
   font-weight: 700;
   font-size: 12px;
}

input[value="Log in"] {
   font-family: 'NexaBold', "Arial";
   height: 4em;
   font-size: 16px;
   font-weight: 400;
   line-height: 1;
   color: white;
   color: #fff; 
   background-color: blue;    
   background-color: #2800a0;
   box-shadow: inset 0 -.1875em .0625em darkblue;
   box-shadow: inset 0 -.1875em .0625em #120145;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
}

.section-label input[value="Log in"]:hover {
   background-color: darkblue;
   background-color: #120145;
}

.section-label input[value="Log in"]:valid, .section-label input[value="Log in"]:focus {
   padding: 0;
}

/* Vergeten button */

.vergeten {
   font-family: 'NexaLight', 'Arial';
   font-size: 0.8em;
   color: white;
   color: #fff;
   background: #2800a0;
   border: none;
   cursor: pointer;
   text-decoration: none;
   padding: 0.6em;
   border-radius: 2em;
   transition: transform 1s ease-in-out;
}
.vergeten:hover {
   transform: scale(1.1);
   text-decoration: underline;
}

/* aanmeld-btn */

.aanmeld-btn {
   width: 100%;
}

.aanmeld-btn > h1 {
   font-size: 1.25em;
   margin-top: 1.5em;
   color: lawngreen;
   color: #00d66c;
}

.aanmeld-btn > h1 > img {
   width: 15%;
   margin-right: 0.2em;
}

.aanmeld-btn > p {
   text-align: center;
   font-family: 'NexaBold', 'Arial';
   font-size: 1em;
   color: white;
   color: #fff;
   margin-top: 0.8em;
}

@media (min-width: 80em) {
.aanmeld-btn > p {
   margin-top: 2em;
}
}

/* Zonder account */

.no-inlog {
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
    height: 3em;
    color: #fff;
    font-size: 1em;
    background-color: lawngreen;
    background-color: #00d66c;
    box-shadow: inset 0 -.1875em .0625em darkgreen;
    box-shadow: inset 0 -.1875em .0625em #226b2f;
    cursor: pointer;
    border: none;
    border-radius: 1.25em;
    padding: 0.8em;
    transition: all 0.5s ease-in-out;
    font-family: 'NexaBold', 'Arial';
}

.no-inlog:hover {
    transform: scale(1.1);
    background-color: green;
    background-color: #226b2f;
    box-shadow: inset 0 -.1875em .0625em darkgreen;
    box-shadow: inset 0 -.1875em .0625em #0d3a15;
}

/* Registreren */

.registreren {
    margin-top: 1em;
    margin-bottom: 2em;
    height: 3em;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    background-color: deeppink;
    background-color: #ff3268;
    box-shadow: inset 0 -.1875em .0625em hotpink;
    box-shadow: inset 0 -.1875em .0625em #ca2b55;
    cursor: pointer;
    border: none;
    border-radius: 1.25em;
    padding: 0.8em;
    transition: all 0.5s ease-in-out;
    font-family: 'NexaBold', 'Arial';
}

.registreren:hover {
    transform: scale(1.1);
    background-color: hotpink;
    background-color: #ca2b55;
    box-shadow: inset 0 -.1875em .0625em darkred;
    box-shadow: inset 0 -.1875em .0625em #7f1737;
}
